{% extends "base_generic.html" %}

{% block content %}
  <h1><span class = "orange">Overwatch </span> <span style = "color:gray;">H</span><span class = "orange">A</span><span style = "color:gray;">T</span></h1><br></br>
  <div class = "box">This website scrapes your selection of heroes and stats from overbuff.com, with overbuff.com's permission, 
  for each player that you enter when you create hero assignments. We optimize these stats
  for each player and hero that are selected to give you the most optimal
  hero assignments by pairing each player with the most optimal hero using the Hungarian algorithm. In order to get the
  most accurate optimal hero assignments, your heroes must be listed on overbuff.com for each player.
  This website was created by Harry Kim from Kutztown University.</div>
{% endblock %}  