{% extends "base_generic.html" %}

{% block content %}

<br></br>
<h3>{{ successMessage }} {{ errorMessage }}</h3><br></br><br></br><br></br>

<p>{{ createteam_instance.BattleTag_1 }}: {{ hero1 }}</p><br></br>
<p>{{ createteam_instance.BattleTag_2 }}: {{ hero2 }}</p><br></br>
<p>{{ createteam_instance.BattleTag_3 }}:  {{ hero3 }}</p><br></br>
<p>{{ createteam_instance.BattleTag_4 }}: {{ hero4 }}</p><br></br>
<p>{{ createteam_instance.BattleTag_5 }}:  {{ hero5 }}</p><br></br>
<p>{{ createteam_instance.BattleTag_6 }}:  {{ hero6 }}</p><br></br>


{% endblock %}