{% extends "base_generic.html" %}

{% block content %}

<h1>Heroes</h1><br></br>
<p>Ana</p>
<p>Reinhardt</p>
<p>Orisa</p>
<p>Roadhog</p>
<p>Moira</p>
<p>Mercy</p>
<p>McCree</p>
<p>Zenyatta</p>
<p>Genji</p>
<p>Lúcio</p>
<p>Hanzo</p>
<p>D.Va</p>
<p>Zarya</p>
<p>Wrecking Ball</p>
<p>Widowmaker</p>
<p>Ashe</p>
<p>Winston</p>
<p>Junkrat</p>
<p>Doomfist</p>
<p>Reaper</p>
<p>Baptiste</p>
<p>Soldier: 76</p>
<p>Mei</p>
<p>Brigitte</p>
<p>Sombra</p>
<p>Pharah</p>
<p>Torbjörn</p>
<p>Tracer</p>
<p>Symmetra</p>
<p>Bastion</p><br></br>



</form>
{% endblock %}





















