{% extends "base_generic.html" %}

{% block content %}
  <h1>Create Hero Assignments Tutorial</h1><br></br>
  <div class = "box1"><p><strong>1. </strong>Select number of players</p>
  <p><strong>2. </strong> Fill out all player fields</p>
  <p class = "space">    a) Go to a player's profile page on overbuff.com and copy the </p>
  <p class = "space">     second to last "/" character in the web url to the end of the web url </p>
    <p class = "space">    b) Paste the copied text into the player field</p>
  <p><strong>3. </strong> Select at least the number of heroes that is equal to or greater</p>
  <p>than the number of player fields</p>
  <p><strong>4. </strong> Press the Create Hero Assignments button</p>
  <p><strong>5. </strong> Receive the most optimal hero assignments with each</p>
  <p>player paired with the most optimal hero</p>
  </div>
{% endblock %}